:root {
    --main-background-color: #171C22;
    --body-background-color: #212A35;
    --sec-operators-background-color: #2E3A48;
    --numbers-background-color: #171C22;
    --color-text-main: #EAEBED;
}