:root {
    --main-background-color: #171C22;
    --body-background-color: #212A35;
    --sec-operators-background-color: #2E3A48;
    --numbers-background-color: #171C22;
    --color-text-main: #EAEBED;
}

.history__group{
    width: 257px;
    height: 350px;
    background: #2E3A48;
    border-radius: 23px;
    border: 4px solid #5A6876;
    display: none;
}